.header {
    z-index: 99;
    &__store__info {
        &__list {
            @include flex(center,flex-start);
            & > * ~ * {
                margin-left: 60px;
            }
           
        }
        &__item {
            line-height:31px;
            @include flex(center,flex-start);
            i {
                padding-right: 8px;
            }
            .free {
                text-transform: uppercase;
                color:$white-color;
                font-size: 1rem;
                font-weight: 500;
                line-height:1.5;
                padding:3px 6px;
                background-color: #ee4d2d;
                border-radius: 20px;
            }
            .text-highlight {
                font-weight: 500;
                font-size: 1.6rem;
            }
        }
    }
    &__main {
        z-index: 99;
        line-height:1.7px;
        &__left {
            @include flex(center,flex-start);   
            float:left;
        }
        &__right {
            float:right;
            @include flex(center,flex-start);   
        }
        
        position: relative;
    }
    &__logo {
        height: 30px;
        width: 54px;
        margin-right: 13.5rem;
    }
    &__big__nav {
        @include flex(center,flex-start);
        text-transform: uppercase;
    }

    &__big__subnav__container {
        display: none;
        position:absolute;
        left:0;
        padding-left: 100px;
        .header__big__subnav  {
            font-weight: 700;
            width: 200px;
            a{
                margin-bottom: 30px;
                line-height:1.5;
                font-size: 14px;
                text-transform: none;
                &:hover {
                    color:$main-color;
                }
            }
            li {
                width:100%;
                padding: 10px 0;
                a {
                    font-weight: 300;
                    font-size: 12px;
                }
            }
        }
     
    }

    &__big__item {
        font-weight: 500;
        padding:0 19px;
        height:100%;
        & a {
            line-height:52px;
        }
        &:hover .header__big__subnav__container{
            @include flex(unset,unset);
            width: 100%;
            background-color:$white-color;
        }
    }

  
    &__tool {
        @include flex(center,unset);
        & li {
            display: none;
        }
    }
    &__search {
        width: 400px;
        position: relative;
        margin-right: 50px;
        &__input {
            width: 100%;
            height: 38px;
            outline: none;
            border: .5px solid #dde1ef;
            border-radius: 10px;
            padding:0 70px 0 12px;
        }
        &__btn {
            border-radius: 0 10px 10px 0;
            position: absolute;
            top: 0;
            right: 0;
        }
        &:hover input {
            border: .5px solid $main-color;
        }
    }
    &__tool {
        &  i {
            font-size: 28px;
            color: $main-color;
        }
        & > *:not(:last-child) {
            padding:0 10px;
        }
        & > *:last-child {
            padding-left: 10px;
        }
    }
}