.collections {
    padding: 50px 0;
    &__home {
        text-align: center;
        margin-bottom: 10px;
    }
    .title {
        text-align: center;
        color: $main-color;
        font-weight: 500;
        text-transform: uppercase;  
    }
    &__content {
        @include flex(flex-start,flex-start);
    }
}