.slider {
    // margin-bottom: 5px;
    &__img {
    
       padding-top: 30%;
       background-position: left;
       background-repeat: no-repeat;
       background-size: cover;
    }
    .swiper-pagination-bullet {
        background-color:$white-color;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        
        background-color:$main-color;
        border:1px solid $white-color;
        
    }
    .swiper-pagination-bullet:only-child {
        display: block !important;
        margin: 0 auto;
    }
    .swiper-pagination-lock {
        display: block ;
    }
}
